<div class="home">
  <form class="home__form" [formGroup]="registroForm">
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput #input formControlName="nombre">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Apellidos</mat-label>
      <input matInput #input formControlName="apellido">
    </mat-form-field>
    
    <mat-form-field appearance="fill">
      <mat-label>Dirección</mat-label>
      <input matInput #input formControlName="direccion">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Población</mat-label>
      <input matInput #input formControlName="poblacion">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Código postal</mat-label>
      <input matInput #input formControlName="codigoPostal">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Teléfono 1</mat-label>
      <input matInput #input formControlName="telefono1">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Teléfono 2</mat-label>
      <input matInput #input formControlName="telefono2">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput #input formControlName="email">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>DNI</mat-label>
      <input matInput #input formControlName="dni">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Observaciones</mat-label>
      <input matInput #input  formControlName="observaciones">
    </mat-form-field>
    <body>
      Adjuntar FOTO Y DNI formato JPG O PDF A cbbeteraescuela@hotmail.com<br/>
      PACK EQUIPACIÓN EMIX (1ª Y 2ª EQUIPACIÓN, CHÁNDAL COMPLETO Y CAMISETA DE CALENTAMIENTO): 100€
      (OBLIGATORIO, COMPRA A TRAVÉS DE WEB DE EMIX) <br/>
      PAGOS: JULIO-SEPTIEMBRE (MATRÍCULA 70 EUROS) / NOVIEMBRE PRIMERA CUOTA / ENERO SEGUNDA CUOTA<br/>
      
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef> Weight </th>
          <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef> Symbol </th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      Descuentos:<br/>
      - 2 Herman@s en la Escuela : 15% descuento<br/> 
      - 3 Herman@s en la Escuela: 25% descuento<br/>
      -Transferencia bancaria (Concepto: nombre y apellidosjugador/a)<br/>
      Nº Cuenta: ES82 3058 2323 7228 1084 2197 (Cajamar)<br/>
      Consentimiento expreso para el tratamiento de datos de carácter personal. En cumplimiento de lo establecido en la Ley Orgánica 15/1999, de 13<br/>
      de diciembre, de Protección de Datos de Carácter Personal, le comunicamos que los datos que usted nos facilite quedarán incorporados y serán<br/>
      atados en los ficheros titularidad de CB BÉTERA con el fin de poderle prestar nuestros servicios, así como para mantenerle informado sobre<br/>
      cuestiones relativas a la actividad del Club y sus servicios. Mediante la firma del presente documento usted da su consentimiento expreso para<br/>
      que CB BÉTERA pueda utilizar con este fin concreto los datos facilitados por usted, comprometiéndose a tratar de forma confidencial los datos<br/>
      de carácter personal facilitados y a no comunicar o ceder dicha información a terceros. Así mismo, le informamos de la posibilidad que tiene de<br/>
      ejercer sus derechos de acceso, rectificación, cancelación y oposición de sus datos de carácter personal mediante escrito dirigido a: CB BÉTERA,<br/>
      AVD. DIPUTACIÓN S/N 46117 DE BETERA, acompañando copia de DNI. Autorizo a la Escuela de Baloncesto de Bétera, perteneciente al Club<br/>
      Baloncesto Bétera apublicarimágenes yvídeosenlasqueaparezcamihijo/aotutelado/aenlasactividadesde la escuela parapublicarlo<br/>
      enlasredes sociales y plataforma web de la entidad, con motivo de la difusión de nuestra Escuela y la promoción del Baloncesto.<br/>
    </body>
    <button (click)="submitForm()" mat-raised-button color="primary">Enviar</button>
  </form>
</div>
