.home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__form {
    display: flex;
    flex-direction: column;

    & mat-form-field {
      margin: 10px 0;
    }
  }
}
